/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
    width: 80%; /* Ajuste a largura desejada para o modal */
    max-width: 500px; /* Defina uma largura máxima para o modal, se desejar */
    margin-top: 40px; /* Espaçamento entre o topo do modal e o cabeçalho h2 */
  }
  
  /* Estilo para centralizar o cabeçalho h2 */
  .modal-content h2 {
    text-align: center;
    font-size: 24px; /* Ajuste o tamanho da fonte desejado */
    margin-bottom: 20px; /* Adicione um espaçamento inferior para separar o cabeçalho dos campos de entrada */
  }
  
  /* Estilo para posicionar os campos no formulário */
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
  }
  
  /* Estilo para o botão de login */
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para desabilitar a rolagem quando o modal estiver aberto */
  body.modal-open {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
  }
  